<p id="notice"><%= notice %></p>


<%= render 'post_form', post: @post %>

<%= render 'comments/form', comment: @comment %>

<h4 id="comment-toggle">
<%= @post.comments.count %>
 Comments</h4>

<div id="comment-hider">

	<% @post.comments.each do |comment| %>
		<div class="comment-box">
			<%= render "layouts/profile_pic", x: comment.user %>
			<p>
				<strong><%= comment.user.username %></strong>
				<span class="grey-text"><%= distance_of_time_in_words(comment.created_at - Time.now).gsub('about', ' ') %> ago</span><br>
				<%= comment.comment_entry %><br>
			</p>
		</div>
	<% end %>
</div>

<%#= render "layouts/profile_pic", x: @post.user.username %>

<%= link_to 'Back', posts_path %>

